<header class="header">
  <nav>
    <a routerLink=""><img src="https://github.com/TelitsynNikita/angular-shop/blob/main/src/assets/img/logo.png?raw=true" alt="logo"></a>
    <a routerLink="/catalog">Catalog</a>
    <a routerLink="/about">About us</a>
  </nav>

  <div class="horizontal-wrapper">
    <button class="button button-sign-in" (click)="showModal()">Sign In</button>
    <a routerLink="/basket" class="bi bi-cart2 header__link-basket"></a>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">

</footer>

<app-sign-in *ngIf="isModal" [modal]="isModal" (onChangeModal)="checkModal($event)"></app-sign-in>
